#bodyContainer{
    margin: 0 auto 0 auto;
}

div.row {
    margin: 0 auto 0 auto;
    width: 100%;
}

#gameover {
    position: absolute;
    z-index: 200;
    
    padding: 10px;
    
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: forestgreen;
}


.touchDiv {
    position: absolute;
    width: 25%;
    height: 30%;
    opacity: 0.25;
    z-index: 205;
}
    #tLeft {
        top: 0px;
        left: 0px;
        background-color: red;
    }
    #tRight {
        top: 0px;
        right: 0px;
        background-color: red;
    }
    #mLeft {
        top: 33%;
        left: 0px;
        background-color: green;
    }
    #mRight {
        top: 33%;
        right: 0px;
        background-color: green;
    }
    #bLeft {
        top: 66%;
        left: 0px;
        background-color: blue;
    }
    #bRight {
        top: 66%;
        right: 0px;
        background-color: blue;
    }